@model IEnumerable<Target19_Relationship.Models.Views.ReadableProductAttribute>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessPartner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attribute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recorder_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Changer_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessRoute)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessPartner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attribute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recorder_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Changer_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessRoute)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
