@model IEnumerable<Target19_Relationship.Models.Tables.DeliveryPlace>

@{
    ViewBag.Title = "DeliveryPlaceList";
}

<h2>納品場所</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th class="edit">修正</th><th class="edit">詳細</th><th class="edit">削除</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td >
            <a href="~/MasterData/DeliveryPlaceEdit/@item.Id"><span class="glyphicon glyphicon-pencil" 　aria-hidden="true"></span></a>
        </td>
        <td >
            <a href="~/MasterData/DeliveryPlaceDetail/@item.Id"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
        </td>
        <td>
            <a href="~/MasterData/DeliveryPlaceDelete/@item.Id"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </td>
    </tr>
}

</table>
