@model IEnumerable<Target19_Relationship.Models.Details.ReadableSale>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrder_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCancel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsExclusiveDeliveryNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrderDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrderResponsibleStaff_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrderResponsibleStaff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Helper_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Helper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryPlace_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrderQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrderUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderMainNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderBranchNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsParchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSeparateDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleOrderNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrderRecorder_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrderChanger_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryNoteNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryStatus_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BilledDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesRecorder_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesChanger_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrder_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCancel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsExclusiveDeliveryNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrderDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrderResponsibleStaff_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrderResponsibleStaff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Helper_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Helper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryPlace_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrderQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrderUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderMainNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderBranchNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsParchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSeparateDelivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleOrderNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrderRecorder_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrderChanger_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentType_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryNoteNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryStatus_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BilledDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesRecorder_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesChanger_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
