
@{
    ViewBag.Title = "BeforeWarehousingList";
}

<h2>入庫前</h2>

<div class="form-inline">
    @Html.DropDownList("SupplierSelectOptions", null, htmlAttributes: new { @class = "form-control" })
    @Html.DropDownList("ManufacturerSelectOptions", null, htmlAttributes: new { @class = "form-control" })
    @Html.SearchBox("商品キーワード")
    @Html.DateInputBox("start", "発注日検索開始")
    @Html.DateInputBox("end", "発注日検索終了")
    <button type="submit" name="search" class="btn btn-default">検索</button>
</div>

<div id="result"></div>

<div id="pageList"></div>

@section scripts{
    <script>
        $(function () {
            $('#dateinputstart').datepicker();
            $('#dateinputend').datepicker();
            $('button[name="search"]').click(function (e) {
                let startDate = $('#dateinputstart').val();
                let endDate = $('#dateinputend').val();
                if (startDate == '') {
                    startDate = '1000/01/01 00:00:00';
                };
                if (endDate == '') {
                    endDate = '9999/12/31 00:00:00';
                };
                let str = [$('#SupplierSelectOptions').val(), $('#ManufacturerSelectOptions').val(),
                            $('#searchtext').val(), startDate, endDate];
                $('#result').load('/TransactionData/BeforeWarehousingContent', {
                    supplier_Id: str[0], manufacturer_Id: str[1], keywords: str[2], startdate: str[3], enddate: str[4]
                });
            });
        });
    </script>
    }
